html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background: rgb(41, 41, 41);
    padding: 20px;
    box-sizing: border-box;
}

body, textarea {
    font-family: 'Ubuntu';
}

#message-input {
    border-radius: 10px;
    box-shadow: 2px 2px 5px #888888;
}

#wrapper {
    display: flex;
    column-gap: 20px;
    height: calc( 100% - 132px );
}

#sidebar {
    background: #333;
    padding: 10px;
    width: 24%;
    border-radius: 10px;
    margin-top: 10px;
    overflow: auto;
}

#sidebar a {
    padding: 5px;
    display: block;
    border-radius: 7px;
    border: 1px solid #565656;
    margin-bottom: 5px;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0.7em;
}

#sidebar a:hover {
    background: #444444;
}

#sidebar ul,
#sidebar li {
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#sidebar li {
    position: relative;
}

button.delete {
    position: absolute;
    top: 4px;
    right: 4px;
    border-radius: 5px;
    background: #000;
    border: none;
    color: #fff;
    font-weight: bold;
    font-family: 'Ubuntu';
    padding: 2px 4px;
    font-size: 0.7em;
    cursor: pointer;
    display: none;
}

#sidebar li:hover button.delete {
    display: block;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #ddd;
    font-weight: bold;
    color: #474747;
}

td, th {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

#chat-messages {
    height: 100%;
    overflow: auto;
    width: 100%;
    max-width: 1000px;
    text-align: left;
    margin: 0 auto;
    border-radius: 10px;
}

.clear-chat {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

.clear-chat:hover {
    background: #d7d7d7;
}

.chat-message {
    border-radius: 10px;
    padding: 5px 15px;
    margin: 10px 0;
    line-height: 1.5em;
}

.incoming-message {
    color: #fff;
    background-color: #4a4e5a;
}

.outgoing-message {
    color: #fff;
    background-color: #494949;
}

#message-input {
    margin: 20px auto;
    resize: none;
    border: none;
    color: #fff;
    background-color: #494949;
    outline: none;
    padding: 15px;
    font-size: 1.1em;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: calc(100% - 70px);
    width: 700px;
}

h1#header {
    color: #fff;
    text-align: center;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 1.5em;
}

code {
    border-radius: 10px;
    font-size: 1.1em;
    margin: 5px;
}

#cursor {
    width: 5px;
    height: 20px;
    background-color: #fff;
    display: inline-block;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

a {
    color: #fff;
}
